Question 1

--> A database is an organized collection of data that is stored and managed in a structured manner. It provides a way to store, retrieve, and manipulate data efficiently.

SQL Databases:

1) Structure: SQL databases are based on a relational model and use structured tables with predefined schemas to organize data.
2) Query language: SQL databases use SQL as their primary query language for defining and manipulating data.
3) Scalability: SQL databases typically scale vertically by adding more resources to a single server.
4) Data model: They enforce a fixed schema, meaning the structure of the data must be defined in advance

NoSQL Databases:

1) Structure: NoSQL databases are designed to handle unstructured and semi-structured data. They use various data models like key-value pairs, documents, wide-column stores, or graphs.
2) Query language: NoSQL databases use different query languages depending on the type of database. For example, MongoDB uses a flexible JSON-based query language.
3) Scalability: NoSQL databases are horizontally scalable, which means they can handle high volumes of traffic and data by adding more servers to a distributed system.
4) Flexibility: NoSQL databases offer flexible schemas, allowing for dynamic changes to the data structure without requiring predefined schemas.

Question 2

--> DDL stands for Data Definition Language. It is a subset of SQL that is used to define and manage the structure of a database and its objects, such as tables, indexes, views, and constraints. 

--> CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or even the database itself.

CREATE TABLE Employees (
  ID INT PRIMARY KEY,
  Name VARCHAR(50),
  Age INT,
  Department VARCHAR(50)
);

--> DROP: The DROP statement is used to delete existing database objects, such as tables, views, or indexes. It permanently removes the specified object and all associated data.

DROP TABLE Employees;

--> ALTER: The ALTER statement is used to modify the structure of existing database objects. It allows us to add, modify, or drop columns, constraints, or other properties of the object.

ALTER TABLE Employees
ADD COLUMN Salary DECIMAL(10, 2);

--> TRUNCATE: The TRUNCATE statement is used to remove all data from a table,TRUNCATE only removes data, not the entire table.

TRUNCATE TABLE Employees;

Question 3

--> DML stands for Data Manipulation Language. It is a subset of SQL used to manipulate and modify data within a database.

--> INSERT: The INSERT statement is used to add new records into a table

INSERT INTO Students (ID, Name, Age, Department)
VALUES (1, 'Yagnik', 18, 'Computer Science');

--> UPDATE: The UPDATE statement is used to modify existing records in a table. It allows us to change the values of specific columns based on certain conditions.

UPDATE Students
SET Age = 18, Department = 'Computer Scinece'
WHERE ID = 1;

--> DELETE: The DELETE statement is used to remove one or more records from a table based on specified conditions.

DELETE FROM Students
WHERE ID = 1;

Question 4

--> DQL stands for Data Query Language. It is a sublanguage of SQL that is used to retrieve data from a relational database.

--> The SELECT statement is a fundamental component of DQL. It allows us to retrieve data from one or more database tables or views.

--> to retrieve all the data from the "employees" table, I would write like this,

SELECT * FROM employees;

--> If I want to retrieve specific columns, I can list them explicitly in the SELECT statement. For example, to retrieve only the employee_id, first_name, and last_name columns.

SELECT employee_id, first_name, last_name FROM employees;

Question 5

Primary Key:

--> A primary key is a column or a set of columns in a table that uniquely identifies each row in that table
--> Unique: Each value in the primary key column(s) must be unique. 
--> Non-null: The primary key column(s) cannot contain null values. 
--> Fixed: The primary key value(s) for a particular row should remain constant and should not change over time.

Foreign Key:
--> A foreign key is a column or a set of columns in a table that establishes a link or reference to the primary key of another table. 
--> References primary key: The foreign key column(s) references the primary key column(s) of another table.
--> Maintains integrity: The values in the foreign key column(s) must match values in the referenced primary key column(s) or be null.
--> Allows relationships: Foreign keys enable the establishment of relationships between tables, such as one-to-one, one-to-many, or many-to-many.

Question 6

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

cursor = mydb.cursor()

cursor.execute("SELECT * FROM your_table")
results = cursor.fetchall()

for row in results:
    print(row)
    
cursor.close()
mydb.close()

cursor(): The cursor() method is used to create a cursor object. The cursor object allows you to execute SQL queries and retrieve data from the database

execute(): The execute() method is used to execute SQL queries or statements. It takes the SQL query as a parameter and executes it against the connected database. The method can handle various types of SQL statements like SELECT, INSERT, UPDATE, DELETE, etc.

Question 7

FROM: Specifies the table or tables from which to retrieve data.
JOIN: Combines rows from multiple tables based on specified join conditions.
WHERE: Filters the rows based on specified conditions.
GROUP BY: Groups the rows based on specified columns.
HAVING: Filters the groups based on specified conditions.
SELECT: Specifies the columns to retrieve from the result set.
DISTINCT: Filters out duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns.
LIMIT: Limits the number of rows returned in the result set.